@import "tailwindcss";

:root{

--background:#0E0C0A;
--background-secondary:#14110E;
--card:#1D1815;

--text:#F1EAD8;
--muted:#C9B699;

--primary:#E26743;
--primary-dark:#C14E2A;

--border:#2A241F;

--radius:24px;

}

html{

scroll-behavior:smooth;

}

body{

background:var(--background);

color:var(--text);

font-family:var(--font-inter);

overflow-x:hidden;

}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}

h1,h2,h3,h4{

font-family:var(--font-fraunces);

}

a{

text-decoration:none;

color:inherit;

}

button{

cursor:pointer;

}

::selection{

background:var(--primary);

color:white;

}